// // Header.module.scss

// .header {
//     background-color: #333;
//     color: #fff;
//     padding: 10px;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
  
    .header__title {
        display: flex;
        align-items: center;
      h1 {
        font-size: 1.5rem;
        margin: 0;
        color: black;
        font-weight: 600;

      }
  
      p {
        font-size: 1rem;
        margin: 0;
      }
    }
    .header-image{
        object-fit: cover;
        height: 50px;
        width: 50px;
    }
  
//     .header__nav {
//       ul {
//         list-style-type: none;
//         padding: 0;
//         display: flex;
  
//         li {
//           margin-right: 20px;
  
//           a {
//             color: #fff;
//             text-decoration: none;
  
//             &:hover {
//               text-decoration: underline;
//             }
//           }
//         }
//       }
//     }
//   }
a {
    text-decoration: none;
    color: #333;
  }
  
  ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
  }
  
.navbar {
    background-color: #708090;
    padding: 20px;
  }
  
  .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar .main-menu ul {
    display: flex;
  }
  
  .navbar ul li button {
    padding: 10px 20px;
    display: block;
    font-weight: 600;
    font-size: medium;
    transition: 0.5s;
    border: none;
    background-color: #708090;
 
  }
  
  .navbar ul li button:hover {
    color: #ffffff;

    transform: scale(1.2);
  }
  
 

  